<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

<form th:method="post" th:action="@{/auth/signup}" th:object="${user}">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username"/>

    <br/>

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password"/>

    <br/>

    <input type="submit" value="Sign up">

    <p>Already have an account? <a href="/auth/signin">Sign in here</a></p>
</form>

</body>
</html>