<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <style>
        .error {
            color: #721c24;
        }
    </style>
</head>
<body>

<form th:method="post" th:action="@{/auth/signin}" th:object="${user}">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" required/>

    <br/>

    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" required/>

    <div class="error" th:if="${#fields.hasAnyErrors()}">
        <ul>
            <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </ul>
    </div>

    <div class="error" th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>

    <br/>

    <input type="submit" value="Sign in">

    <p>Don't have an account? <a href="/auth/signup">Sign up here</a></p>
</form>

</body>
</html>