<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Tracker – Homepage</title>
</head>
<body>

<h1>Weather Tracker – Homepage</h1>


<div th:if="${authenticated}">
    <p th:text="${user.username}" />

    <form th:action="@{/auth/signout}" method="post">
        <button type="submit">Sign out</button>
    </form>

    <br>

    <form action="/locations" method="get">
        <label>
            <input type="text" name="name" placeholder="Enter location" required>
        </label>
        <button type="submit">Search</button>
    </form>

    <div th:if="${locations != null and !#lists.isEmpty(locations)}">
        <h3>Locations:</h3>
        <ul>
            <li th:each="location : ${locations}">
                <h2 th:text="${location.name}"></h2>
                <img th:src="'https://openweathermap.org/img/wn/' + ${location.conditions[0].icon} + '@2x.png'"
                     alt="Weather icon" />
                <p th:text="'Condition: ' + ${location.conditions[0].main}"></p>
                <p th:text="'Details: ' + ${location.conditions[0].description}"></p>
                <p th:text="'Temperature: ' + ${location.temperatureInfo.temperature} + ' °C'"></p>
                <p th:text="'Feels like: ' + ${location.temperatureInfo.feelsLike} + ' °C'"></p>
                <p th:text="'Country: ' + ${location.locationInfo.country}"></p>

                <form th:action="@{/locations/delete}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <input type="hidden" th:name="name" th:value="${location.name}"/>
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>
    </div>

</div>

<div th:if="${!authenticated}">
    <p><button onclick="window.location.href='/auth/signin';">Sign in</button></p>
    <p><button onclick="window.location.href='/auth/signup';">Sign up</button></p>
</div>

</body>
</html>