<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Tracker – Homepage</title>
</head>
<body>

<h1>Weather Tracker – Homepage</h1>


<div th:if="${authenticated}">
    <p th:text="${user.username}" />

    <form th:action="@{/auth/signout}" method="post">
        <button type="submit">Sign out</button>
    </form>

    <br>

    <form action="/locations" method="get">
        <label>
            <input type="text" name="name" placeholder="Enter location" required>
        </label>
        <button type="submit">Search</button>
    </form>
</div>

<div th:if="${!authenticated}">
    <p><button onclick="window.location.href='/auth/signin';">Sign in</button></p>
    <p><button onclick="window.location.href='/auth/signup';">Sign up</button></p>
</div>

</body>
</html>